body {
  background-image: url(../images/jost-van-dyke.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.aboutalex {
  background-color: white;
  text-align: center;
  width: 25%;
  margin: auto;
  padding: .5px;
  border-radius: 25px;
  opacity: .8;
  font-family: Verdana, Geneva, sans-serif;
}
