.full-page {
    height: 100vh;
    min-height: 700px
}

.heading {
    text-align: center;
    margin-bottom: 40px
}

.heading:after {
    content: " ";
    display: block;
    width: 100px;
    height: 1px;
    margin: 20px auto 20px;
    background: #4fbfa8
}

.bg-whitesmoke{
	background:whitesmoke;
}

@media screen and (max-width: 991px) {
    .about {
        padding-top: 10vh
    }
    .myPic {
        margin-top: 15px
    }
}

@media (max-width: 991px) and (min-width: 615px) {
    .myPic {
        max-width: 300px;
        max-height: 300px
    }
}

@media screen and (max-height: 766px) and (min-width: 525px) and (max-width: 991px) {
    .myPic {
        max-width: 200px;
        max-height: 200px
    }
}

@media screen and (max-width: 643px) {
    .myPic {
        max-width: 200px;
        max-height: 200px
    }
}

@media screen and (max-width: 525px) and (max-height: 780px) {
    .myPic {
        visibility: hidden
    }
}