p {
    font-size: 1.3em;
}

.banner {
    color: #55a0d3;
    background: #253e8f;
}

.banner-text {
    font-size: 3em;
}

.about {
    margin-top: 14em;
    margin-left: 15em;
}

.about h1 {
    color: #55a0d3;
}

h1.heading {
    margin-bottom: 20px;
}

.lead {
    font-size: 2em;
}

@media screen and (min-width: 992px) {
    .about {
      padding-left: 10vw;
      padding-right: 10vw;
    }    
}